# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Mac
.DS_Store

# Symlinked dependencies
bilgecode/static/pt
django_tides
