{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block auth-content %}
{% include "socialaccount/snippets/login_extra.html" %}

<p>
<a
  title="Facebook"
  class="btn btn-primary btn-block btn-lg facebook"
  href="javascript:allauth.facebook.login('', 'authenticate', 'login')">
  <span class="fa fa-facebook-square"></span>
  &nbsp;&nbsp;
  Register using Facebook
</a>
</p>

<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  <div id="registerFormSnippet">
  {% csrf_token %}
  {{ form|bootstrap }}
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class='btn btn-success' type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>


{% endblock %}
