<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        &copy; BilgeCode.com 2014<br/>
        <small style="margin-left: 40px;">~ bitts and bights from the sea</small>
      </div>
      <div class="col-sm-3 footer-outline">
        <strong>About</strong>
        <ul>
          <li>
            <a href="/about/">Bilgecode</a>
          </li>
          <li>
            <a href="/about/#stats">Statistics</a>
          </li>
          <!-- <li>
            <a href="/contribute/">Contribute</a>
          </li> -->
        </ul>

      </div>
      <div class="col-sm-3 footer-outline">
        <strong>Get Help</strong>
        <ul>
          <li>
            <a href="http://bilgecode.uservoice.com">Knowledge Base</a>
          </li>
          <li>
            <a href="#" onclick="javascript:UserVoice.push(['show',]);">Contact Me</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3 social-footer">
        <a href="http://www.facebook.com/bilgecode">
          <span class="fa fa-facebook-square"></span></a>
        <a href="https://www.youtube.com/user/bilgecode">
          <span class="fa fa-youtube"></span></a>
        <a href="http://bilgecode.tumblr.com/">
          <span class="fa fa-tumblr"></span></a>
        <a href="https://twitter.com/bilgecode">
          <span class="fa fa-twitter"></span></a>
        <a href="http://www.github.com/BilgeCode">
          <span class="fa fa-github"></span></a>
        <a href="http://www.bitbucket.org/BilgeCode">
          <span class="fa fa-bitbucket"></span></a>
        <a href="https://plus.google.com/114816537636699108400" rel="publisher">
          <span class="fa fa-google-plus-square"></span></a>
      </div>

</footer>
