{% extends "passage_planner/wrapper.html" %}

{% block planner_component %}
  <pt-planner id="planner"
    {% if object.user != user %}mode='readonly'{% else %}mode="edit"{% endif %}
    passageEndpoint="{% url 'passage-endpoint' object.id %}"
    tideEndpoint="{% url 'tidestation-list' %}">
  </pt-planner>

  <script>
    document.addEventListener('polymer-ready', function() {
      var p = document.getElementById('planner');
      p.authOptions = {
        loginLink: "/accounts/login/",
        logoutLink: "/accounts/logout/",
        homeLink: "/passage-planner/",
        {% if user.is_authenticated %}username: "{{user.username}}",{% endif %}
        helpMenuItems: [
          ["Knowledge Base", "http://bilgecode.uservoice.com/knowledgebase/"]
        ]
      }
    });
  </script>
{% endblock %}
