{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
  BilgeCode - What's it all about?
{% endblock %}

{% block content %}

  <div style="margin: 0px;padding:30px;background-color: #efefef;background-image: url('{% static 'images/headers/anchor.jpg' %}');height: 40px;background-position: center bottom;border-bottom: 1px solid #eee;"></div>
  <div class='jumbotron'>
    <div class="container container-title">
      <h1>
        BilgeCode
        <small>&raquo; What's it all a boat?</small>
      </h1>
      <span class='pull-right' style="text-align: right;font-size: .8em;color: #888;">...and what's with all the rhyming puns?</span>
    </div>
  </div>

  <div class="container container-about">
    <div class="row">
      <div class="col-md-12">
        <h2>
          The Mission
          <small>&raquo; To build simple and powerful software for boaters</small>
        </h2>
      </div>
    </div>
    <a name="passage-planner"></a>
    <div class="row">
      <div class="col-md-3 col-md-offset-1 text-center">
        <a href="/passage-planner/">
        <img
          src="{% static 'images/passage-planner-circle.png' %}"
          alt="Passage Planner Logo"
          style="margin-top: 30px;"></a>
      </div>
      <div class="col-md-7">
        <h3>
          Passage Planner
          <sup style='font-size: .7em;color: #ccc;font-weight: normal;'>beta</sup>

          <small>&raquo; The first</small>
        </h3>
        <p>
          <a href="/passage-planner/">Passage Planner</a> came out of my travels up and down the East Coast of North America, from the Florida Keys to Nova Scotia. I did this piecemeal, while working 40+ hours a week remotely, so I had to plan a lot of passages. Every passage involved calculating travel times, looking up tides, currents, daylight hours, wind and wave predictions. I decided to automate it.
        </p>
        <p>
          <a href="/passage-planner/" class="btn btn-success" role="button">Check it out!</a>
        </p>
      </div>
    </div>
    <a name="principles"></a>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h2>
          Principles
          <small>&raquo; Transparency and Freedom</small>
        </h2>
      </div>
    </div>
    <div class="row">
      <br/>
      <div class='col-md-3 col-md-offset-1 text-center principles-links' style='padding-top: 0px;'>
        <a href="http://bilgecode.uservoice.com">
          <span class="fa fa-comments-o" style="font-size: 150px;"></span></a>
      </div>
      <div class="col-md-7">
        <h3>
          Public Feedback
        </h3>
        <p>
          I want to hear from you! Let me know what you think about BilgeCode.com and Passage Planner.
          I've set up a <a href="http://bilgecode.uservoice.com">Feedback Site</a>
          where you can suggest and vote on features, send me a support request, or browse the Knowledge Base for
          answers to any questions.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <h3>
          Open Source
        </h3>
        <p>
          By making the code openly available, others can <a href="http://www.github.com/BilgeCode">contribute</a>, improve, and sometimes find completely awesome and different uses for it. In my experience, <a href="http://en.wikipedia.org/wiki/Open-source_software">open-sourcing</a> results in code written more specifically for the users and often by the users themselves.
        </p>
      </div>
      <div class="col-md-4 principles-links text-center">
        <a href="https://github.com/BilgeCode/">
        <span class="fa fa-github-square" style="font-size: 150px;"></span></a>
        <a href="https://bitbucket.org/BilgeCode/">
        <span class="fa fa-bitbucket" style="font-size: 150px;"></span></a>
      </div>
    </div>
    <a name="stats"></a>
    <div class="row">
      <br/>
      <div class='col-md-3 col-md-offset-1 text-center' style='margin-top: 10px;'>
        <span class="fa fa-bar-chart-o" style="font-size: 150px;"></span>
      </div>
      <div class="col-md-7">
        <h3>
          Shared Statistics
        </h3>
        <p>
          I will do my best to publish as many useful stats as possible about each project I pursue. Here they are some for <a href="/passage-planner/">Passage Planner</a> so far. I'm excited to publish more and see them get more interesting...
        </p>
      </div>
    </div>

    <script src="//www.stathat.com/javascripts/embed.js"></script>

    <div class="row">
      <div class="col-md-5 col-md-offset-1 text-center">
        <h3>Passages Created</h3>
        <div>
          <script>
            StatHatEmbed.render({s1: 'UM3Pf', w: 500, h: 200, tf: 'year', style: 'fill', title: 'Passages Created'});
          </script>
        </div>
      </div>
      <div class="col-md-5 text-center">
        <h3>Waypoints Created</h3>
        <div>
          <script>
            StatHatEmbed.render({s1: '3FVL', w: 500, h: 200, tf: 'year', style: 'fill', title: 'Passages Created'});
          </script>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1 text-center">
        <h3>Demos Tried</h3>
        <div>
           <script>
            StatHatEmbed.render({s1: 'D45g', w: 500, h: 200, tf: 'year', style: 'fill', title: 'Passages Created'});
           </script>
        </div>
      </div>
      <div class="col-md-5 text-center">
        <h3>Users Registered</h3>
        <div>
           <script>
            StatHatEmbed.render({s1: 'I15JR', w: 500, h: 200, tf: 'year', style: 'fill', title: 'Passages Created'});
            </script>
        </div>
      </div>
      <div class="col-md-10 col-md-offset-1 text-center">
        <div>
          <br><br>
          Statistics powered by <a href="http://www.stathat.com/">StatHat</a>
        </div>
      </div>
  </div>

{% endblock %}
